<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox-Layout</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="/assets/css/flexbox_style.css">
</head>

<body>
    <header>
        <div class="navbar-wrapper-class">
            <div class="logo">
                <img src="/assets/Images/w3schools.png" alt="logo">
            </div>
            <div class="nav-bar">
                <nav>
                    <li><a href="#Tutorials">Tutorials</a></li>
                    <li><a href="#Exercises"> Exercises</a></li>
                    <li><a href="#Certificates">Certificates</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Spaces">Spaces</a></li>
                    <li><a href="#Get Certified">Get Certified</a></li>
                    <li><a href="#Plus">Plus</a></li>
                </nav>
            </div>
        </div>
    </header>
        <aside>
            <div class="aside-bar">
                <h2>HTML Tutorials</h2>
                <ul>
                    <li>HTML Home</li>
                    <li>HTML Introduction</li>
                    <li>HTML Colors</li>
                    <li>HTML Containers</li>
                    <li>HTML Panels</li>

                    <li>HTML Home</li>
                    <li>HTML Introduction</li>
                    <li>HTML Colors</li>
                    <li>HTML Containers</li>
                    <li>HTML Panels</li>


                    <li>HTML Home</li>
                    <li>HTML Introduction</li>
                    <li>HTML Colors</li>
                    <li>HTML Containers</li>
                    <li>HTML Panels</li>


                    <li>HTML Home</li>
                    <li>HTML Introduction</li>
                    <li>HTML Colors</li>
                    <li>HTML Containers</li>
                    <li>HTML Panels</li>
                </ul>
            </div>
        </aside>
        <main>
           
    </div>
</body>

</html>