* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

.task1-heading {
    position: absolute;
}



.container {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    width: 400px;
    height: 200px;

}

.container img {
    width: 400px;
    border-radius: 3%;
}

/* Task overaly Css */
.container .image-over {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 70px;
    color: white;
}

.container .image-over h2 {
    color: #00abf0;
}

.container .image-over h2,
h3 {
    text-align: center;
}